{% extends "layout.html" %}
{% block body %}

        {% if status %}
        Successfully added the following pages to your watchlist:
        {% else %}
        {{ text }}
        {% endif %}
        {% if pages %}
        <ul>
        {% for p in pages %}
        <li>{{ p }}</li>
        {% endfor %}
        </ul>
        {% else %}
        <p>Error</p>
        {% endif %}
        <p><a href="{{ url_for('logout') }}">logout</a></p>

{% endblock %}
