{% extends "layout.html" %}
{% block body %}

        {% if username %}
        <p>Hello {{ username }}!</p>
        <form action="sendquery" method="post">
            <textarea placeholder="Put query here" name="query" rows="15" cols="70"></textarea>
            <input type="submit" value="Submit">
        </form>
        <p><a href="{{ url_for('logout') }}">logout</a></p>

        {% else %}
        <p>{{ greeting }}</p>
        <p><a href="{{ url_for('login') }}">login</a></p>
        {% endif %}

{% endblock %}
